<div class="values">
  <p>AndroidMobilePush: {{capabilities.AndroidMobilePush}}</p>
  <p>AppleMobilePush: {{capabilities.AppleMobilePush}}<p>
  <p>Archive: {{capabilities.Archive}}<p>
  <p>Gis: {{capabilities.Gis}}<p>
  <p>Hls: {{capabilities.Hls}}<p>
  <p>Profiles: {{capabilities.Profiles}}<p>
  <p>Ptz: {{capabilities.Ptz}}<p>
  <p>SmartAssistant: {{capabilities.SmartAssistant}}<p>
  <p>UserScenarios: {{capabilities.UserScenarios}}<p>
  <p>AndroidMobilePush: {{capabilities.AndroidMobilePush}}<p>
  <p>AppleMobilePush: {{capabilities.AppleMobilePush}}<p>
  <p>Archive: {{capabilities.Archive}}<p>
  <p>Gis: {{capabilities.Gis}}<p>
  <p>Hls: {{capabilities.Hls}}<p>
  <p>Profiles: {{capabilities.Profiles}}<p>
  <p>Ptz: {{capabilities.Ptz}}<p>
  <p>SmartAssistant: {{capabilities.SmartAssistant}}<p>
  <p>UserScenarios: {{capabilities.UserScenarios}}<p>
</div>
