<div>
  <h2>Простые:</h2>
    <div class="values">
      <p>GisConfig: {{conf.GisConfig}}</p>
      <p>Id: {{conf.Id}}</p>
      <p>IProductType: {{conf.ProductType}}</p>
      <p>RevNum: {{conf.RevNum}}</p>
      <p>SenderId: {{conf.SenderId}}</p>
      <p>ServerVersion: {{conf.ServerVersion}}</p>
      <p>Timestamp: {{conf.Timestamp}}</p>
      <p>UseTimeZones: {{conf.UseTimeZones}}</p>
      <p>WorldMapConfig: {{conf.WorldMapConfig}}</p>
      <p>XmlProtocolVersion: {{conf.XmlProtocolVersion}}</p>
    </div>
  <h2>Объекты: </h2>
  <h3>Channels</h3>
    <div>
      <app-channels [channels]= "conf.Channels"></app-channels>
    </div>
  <h3>MobileDevicesCapabilities</h3>
    <div>
      <app-mobile-device-capabilities [capabilities]="conf.MobileDevicesCapabilities"></app-mobile-device-capabilities>
    </div>
  <h3>MobileServerInfo</h3>
    <div>
      <app-mobile-server-info [serverInfo]="conf.MobileServerInfo"></app-mobile-server-info>
    </div>
  <h3>RootSecObject</h3>
    <div>
      <app-root-sec-object [secObj]="conf.RootSecObject"></app-root-sec-object>
    </div>
  <h3>RtspServerInfo</h3>
    <div>
      <app-rttp-server-info [rtspInfo]="conf.RtspServerInfo"></app-rttp-server-info>
    </div>
  <h3>Servers</h3>
    <div>
      <app-servers [servers]="conf.Servers"></app-servers>
    </div>
  <h3>UserGroup</h3>
    <div>
      <app-user-group [userGroup]="conf.UserGroup"></app-user-group>
    </div>
</div>
